<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Identificación</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of dataSource; let i = index;">
      <td>
        {{user.id + 1}}
      </td>
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.city}}
      </td>
      <td>
        {{user.identification}}
      </td>
      <td>
        {{user.email}}
      </td>
    </tr>
  </tbody>
</table>