<!-- <app-dashboard2 [empList]="empList"></app-dashboard2> -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <h1 class="display-4">Ingresar Usuario</h1>
  </mat-card-header>
  <div class="card-body fields">
    <form (ngSubmit)="sendDataUser();" [formGroup]="objectUserForm">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="name" style="cursor: pointer;">
          Nombre completo:
        </label>
        <div class="col-sm-8">
          <input
            [ngClass]="objectUserForm.controls.name.invalid && objectUserForm.controls.name.touched ? 'form-control is-invalid' : 'form-control'"
            formControlName="name" type="name" id="name" placeholder="Nombre Completo">
          <div *ngIf="objectUserForm.controls.name.hasError('required') && objectUserForm.controls.name.touched"
            class="invalid-feedback">
            El nombre es requerido
          </div>
          <div *ngIf="objectUserForm.controls.name.hasError('pattern') && objectUserForm.controls.name.touched"
            class="invalid-feedback">
            El correo electrónico no es válido
          </div>
          <div *ngIf="objectUserForm.controls.name.hasError('minlength') && objectUserForm.controls.name.touched"
            class="invalid-feedback">
            El correo electrónico debe tener como mínimo 6 caracteres
          </div>
          <div *ngIf="objectUserForm.controls.name.hasError('maxlength') && objectUserForm.controls.name.touched"
            class="invalid-feedback">
            El correo electrónico no debe superar 70 caracteres
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="identification" style="cursor: pointer;">
          Cédula:
        </label>
        <div class="col-sm-8">
          <input
            [ngClass]="objectUserForm.controls.identification.invalid && objectUserForm.controls.identification.touched ? 'form-control is-invalid' : 'form-control'"
            formControlName="identification" type="identification" id="identification" placeholder="Nombre Completo">
          <div *ngIf="objectUserForm.controls.identification.hasError('required') && objectUserForm.controls.identification.touched"
            class="invalid-feedback">
            La cédula es requerida
          </div>
          <div *ngIf="objectUserForm.controls.identification.hasError('pattern') && objectUserForm.controls.identification.touched"
            class="invalid-feedback">
            La cédula no es válido
          </div>
          <div *ngIf="objectUserForm.controls.identification.hasError('minlength') && objectUserForm.controls.identification.touched"
            class="invalid-feedback">
            La cédula debe tener como mínimo 6 caracteres
          </div>
          <div *ngIf="objectUserForm.controls.identification.hasError('maxlength') && objectUserForm.controls.identification.touched"
            class="invalid-feedback">
            La cédula no debe superar 70 caracteres
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="cellphone" style="cursor: pointer;">Celular:</label>
        <div class="col-sm-8">
          <input
            [ngClass]="objectUserForm.controls.cellphone.invalid && objectUserForm.controls.cellphone.touched ? 'form-control is-invalid' : 'form-control'"
            formControlName="cellphone" type="cellphone" id="cellphone" placeholder="Nombre Completo">
          <div *ngIf="objectUserForm.controls.cellphone.hasError('required') && objectUserForm.controls.cellphone.touched"
            class="invalid-feedback">
            El celular es requerida
          </div>
          <div *ngIf="objectUserForm.controls.cellphone.hasError('pattern') && objectUserForm.controls.cellphone.touched"
            class="invalid-feedback">
            El celular no es válido
          </div>
          <div *ngIf="objectUserForm.controls.cellphone.hasError('minlength') && objectUserForm.controls.cellphone.touched"
            class="invalid-feedback">
            El celular debe tener como mínimo 10 caracteres
          </div>
          <div *ngIf="objectUserForm.controls.cellphone.hasError('maxlength') && objectUserForm.controls.cellphone.touched"
            class="invalid-feedback">
            El celular no debe superar 20 caracteres
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="city" style="cursor: pointer;">
          Ciudad de Nacimiento:
        </label>
        <div class="col-sm-8">
          <input
            [ngClass]="objectUserForm.controls.city.invalid && objectUserForm.controls.city.touched ? 'form-control is-invalid' : 'form-control'"
            formControlName="city" type="city" id="city" placeholder="Nombre Completo">
          <div *ngIf="objectUserForm.controls.city.hasError('required') && objectUserForm.controls.city.touched"
            class="invalid-feedback">
            La ciudad es requerida
          </div>
          <div *ngIf="objectUserForm.controls.city.hasError('pattern') && objectUserForm.controls.city.touched"
            class="invalid-feedback">
            La ciudad no es válido
          </div>
          <div *ngIf="objectUserForm.controls.city.hasError('minlength') && objectUserForm.controls.city.touched"
            class="invalid-feedback">
            La ciudad debe tener como mínimo 3 caracteres
          </div>
          <div *ngIf="objectUserForm.controls.city.hasError('maxlength') && objectUserForm.controls.city.touched"
            class="invalid-feedback">
            La ciudad no debe superar 45 caracteres
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="departament" style="cursor: pointer;">
          Departamento:
        </label>
        <div class="col-sm-8">
          <input
            [ngClass]="objectUserForm.controls.departament.invalid && objectUserForm.controls.departament.touched ? 'form-control is-invalid' : 'form-control'"
            formControlName="departament" type="departament" id="departament" placeholder="Nombre Completo">
          <div *ngIf="objectUserForm.controls.departament.hasError('required') && objectUserForm.controls.departament.touched"
            class="invalid-feedback">
            El departamento es requerida
          </div>
          <div *ngIf="objectUserForm.controls.departament.hasError('pattern') && objectUserForm.controls.departament.touched"
            class="invalid-feedback">
            El departamento no es válido
          </div>
          <div *ngIf="objectUserForm.controls.departament.hasError('minlength') && objectUserForm.controls.departament.touched"
            class="invalid-feedback">
            El departamento debe tener como mínimo 3 caracteres
          </div>
          <div *ngIf="objectUserForm.controls.departament.hasError('maxlength') && objectUserForm.controls.departament.touched"
            class="invalid-feedback">
            El departamento no debe superar 45 caracteres
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="birth" style="cursor: pointer;">Fecha de Nacimiento:</label>
        <div class="col-sm-8">
          <input type="date" formControlName="birth" id="birth" name="birth" maxlength="40"
            placeholder="Fecha de Nacimiento" class="form-control" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="email" style="cursor: pointer;">Correo Electrónico:</label>
        <div class="col-sm-8">
          <input
            [ngClass]="objectUserForm.controls.email.invalid && objectUserForm.controls.email.touched ? 'form-control is-invalid' : 'form-control'"
            formControlName="email" type="email" id="email" placeholder="ejemplo@ejemplo.com">
          <div *ngIf="objectUserForm.controls.email.hasError('required') && objectUserForm.controls.email.touched"
            class="invalid-feedback">
            El correo electrónico es requerido
          </div>
          <div *ngIf="objectUserForm.controls.email.hasError('pattern') && objectUserForm.controls.email.touched"
            class="invalid-feedback">
            El correo electrónico no es válido
          </div>
          <div *ngIf="objectUserForm.controls.email.hasError('minlength') && objectUserForm.controls.email.touched"
            class="invalid-feedback">
            El correo electrónico debe tener como mínimo 6 caracteres
          </div>
          <div *ngIf="objectUserForm.controls.email.hasError('maxlength') && objectUserForm.controls.email.touched"
            class="invalid-feedback">
            El correo electrónico no debe superar 70 caracteres
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="password" style="cursor: pointer;">
          Contraseña:
        </label>
        <div class="col-sm-8">
          <input type="password" formControlName="password" min="6" max="60" id="password" name="password"
            class="form-control" placeholder="Use números, letras, Mayúsculas, minúsculas y caracteres especiales.">
            <div *ngIf="objectUserForm.controls.password.hasError('minlength') && objectUserForm.controls.password.touched"
            class="invalid-feedback">
            La contraseña debe tener como mínimo 3 caracteres
          </div>
          <div *ngIf="objectUserForm.controls.password.hasError('maxlength') && objectUserForm.controls.password.touched"
            class="invalid-feedback">
            La contraseña no debe superar 15 caracteres
          </div>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-success center mt-3">Crear Usuario</button>
      </div>
    </form>
    <div *ngIf="!validForm" id="validForm" class="alert alert-danger alert-dismissible fade show" role="alert">
      Por favor valide y corrija los campos en rojo.
    </div>
  </div>
</mat-card>