.example-card {
  max-width: 100%;
  background-color: white;
}

.fields{
  color: black;
}

.center {
  margin-left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1{
  color: black !important;
  margin-left: 25%;
}
// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }